### Import the necessary libraries

In [173]:
import requests 
import pandas as pd 
import numpy as np
from bs4 import BeautifulSoup

### Scrap the URL and get the table data

In [174]:
URL = "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"
res = requests.get(URL).text
soup = BeautifulSoup(res,'lxml')
df_list = []
for items in soup.find('table', class_= 'wikitable sortable').find_all('tr')[1::]:
    data = items.find_all(['td'])
    try:
        postcode = data[0].get_text()       
        borough = data[1].get_text()
        neighbourhood = data[2].get_text().rstrip('\n')
    except IndexError:pass
    df_list.append((postcode,borough,neighbourhood))

print(df_list[0:3])

[('M1A', 'Not assigned', 'Not assigned'), ('M2A', 'Not assigned', 'Not assigned'), ('M3A', 'North York', 'Parkwoods')]

### Convert the above list data into PANDAS DataFrame

In [198]:
df_data = pd.DataFrame(df_list, columns=['Postal Code', 'Borough', 'Neighbourhood'])

In [199]:
df_data.head()

  Postal Code           Borough     Neighbourhood
0         M1A      Not assigned      Not assigned
1         M2A      Not assigned      Not assigned
2         M3A        North York         Parkwoods
3         M4A        North York  Victoria Village
4         M5A  Downtown Toronto      Harbourfront

### Check the shape of the DataFrame

In [200]:
df_data.shape

(289, 3)

### Get the count of Column Borough = Not assigned

In [201]:
df_data['Borough'].eq('Not assigned').sum()

77

### Get the count of Column Neighbourhood = Not assigned

In [202]:
df_data['Neighbourhood'].eq('Not assigned').sum()

78

### Remove the rows where Borough = Not assigned

In [203]:
df_data = df_data[df_data.Borough != 'Not assigned']

### Shape of the DataFrame after removing rows, where Borough column equal to Not assigned values

In [204]:
df_data.shape

(212, 3)

### Get the rows where Neighbourhood is equal to Not assigned values

In [205]:
df_data['Neighbourhood'].eq('Not assigned').sum()

1

In [206]:
df_data.loc[df_data['Neighbourhood'] == 'Not assigned']

  Postal Code       Borough Neighbourhood
8         M7A  Queen's Park  Not assigned

### Copy the value of Borough column to the Neighbourhood column, if Neighbourhood == Not assigned

In [207]:
df_data['Neighbourhood'] = np.where(df_data['Neighbourhood'] == 'Not assigned', df_data['Borough'], df_data['Borough'])

In [208]:
df_data['Neighbourhood'].eq('Not assigned').sum()

0

### Merge the Neighbourhoods for the same Postal Code

In [210]:
df_data = df_data.groupby(['Postal Code', 'Borough'])['Neighbourhood'].apply(', '.join).reset_index()

## Final Shape of the Notebook

In [211]:
df_data.shape

(103, 3)

## Upload the Geo Co-Ordinates CSV File

In [213]:
# The code was removed by Watson Studio for sharing.

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [195]:
df_cor.shape

(103, 3)

## Merge the 2 DataFrames - df_data and df_cor

In [214]:
df_final = pd.merge(df_data, df_cor, on='Postal Code')

In [215]:
df_final

,Postal Code,Borough,Neighbourhood,Latitude,Longitude
0,M1B,Scarborough,"Scarborough, Scarborough",43.806686,-79.194353
1,M1C,Scarborough,"Scarborough, Scarborough, Scarborough",43.784535,-79.160497
2,M1E,Scarborough,"Scarborough, Scarborough, Scarborough",43.763573,-79.188711
3,M1G,Scarborough,Scarborough,43.770992,-79.216917
4,M1H,Scarborough,Scarborough,43.773136,-79.239476
5,M1J,Scarborough,Scarborough,43.744734,-79.239476
6,M1K,Scarborough,"Scarborough, Scarborough, Scarborough",43.727929,-79.262029
7,M1L,Scarborough,"Scarborough, Scarborough, Scarborough",43.711112,-79.284577
8,M1M,Scarborough,"Scarborough, Scarborough, Scarborough",43.716316,-79.239476
9,M1N,Scarborough,"Scarborough, Scarborough",43.692657,-79.264848
10,M1P,Scarborough,"Scarborough, Scarborough, Scarborough",43.757410,-79.273304
11,M1R,Scarborough,"Scarborough, Scarborough",43.750072,-79.295849
12,M1S,Scarborough,Scarborough,43.794200,-79.262029
13,M1T,Scarborough,"Scarborough, Scarborough, Scarborough",43.781638,-79.304302
14,M1V,Scarborough,"Scarborough, Scarborough, Scarborough, Scarbor...",43.815252,-79.284577
15,M1W,Scarborough,"Scarborough, Scarborough",43.799525,-79.318389
16,M1X,Scarborough,Scarborough,43.836125,-79.205636
17,M2H,North York,North York,43.803762,-79.363452
18,M2J,North York,"North York, North York, North York",43.778517,-79.346556
19,M2K,North York,North York,43.786947,-79.385975
20,M2L,North York,"North York, North York",43.757490,-79.374714
21,M2M,North York,"North York, North York",43.789053,-79.408493
22,M2N,North York,North York,43.770120,-79.408493
23,M2P,North York,North York,43.752758,-79.400049
24,M2R,North York,North York,43.782736,-79.442259
25,M3A,North York,North York,43.753259,-79.329656
26,M3B,North York,North York,43.745906,-79.352188
27,M3C,North York,"North York, North York",43.725900,-79.340923
28,M3H,North York,"North York, North York, North York",43.754328,-79.442259
29,M3J,North York,"North York, North York",43.767980,-79.487262
...,...,...,...,...,...
73,M6C,York,York,43.693781,-79.428191
74,M6E,York,York,43.689026,-79.453512
75,M6G,Downtown Toronto,Downtown Toronto,43.669542,-79.422564
76,M6H,West Toronto,"West Toronto, West Toronto",43.669005,-79.442259
77,M6J,West Toronto,"West Toronto, West Toronto",43.647927,-79.419750
78,M6K,West Toronto,"West Toronto, West Toronto, West Toronto",43.636847,-79.428191
79,M6L,North York,"North York, North York, North York",43.713756,-79.490074
80,M6M,York,"York, York, York, York",43.691116,-79.476013
81,M6N,York,"York, York",43.673185,-79.487262
82,M6P,West Toronto,"West Toronto, West Toronto",43.661608,-79.464763
83,M6R,West Toronto,"West Toronto, West Toronto",43.648960,-79.456325
84,M6S,West Toronto,"West Toronto, West Toronto",43.651571,-79.484450
85,M7A,Queen's Park,Queen's Park,43.662301,-79.389494
86,M7R,Mississauga,Mississauga,43.636966,-79.615819
87,M7Y,East Toronto,East Toronto,43.662744,-79.321558
88,M8V,Etobicoke,"Etobicoke, Etobicoke, Etobicoke",43.605647,-79.501321
89,M8W,Etobicoke,"Etobicoke, Etobicoke",43.602414,-79.543484
90,M8X,Etobicoke,"Etobicoke, Etobicoke, Etobicoke",43.653654,-79.506944
91,M8Y,Etobicoke,"Etobicoke, Etobicoke, Etobicoke, Etobicoke, Et...",43.636258,-79.498509
92,M8Z,Etobicoke,"Etobicoke, Etobicoke, Etobicoke, Etobicoke, Et...",43.628841,-79.520999
93,M9A,Etobicoke,Etobicoke,43.667856,-79.532242
94,M9B,Etobicoke,"Etobicoke, Etobicoke, Etobicoke, Etobicoke, Et...",43.650943,-79.554724
95,M9C,Etobicoke,"Etobicoke, Etobicoke, Etobicoke, Etobicoke",43.643515,-79.577201
96,M9L,North York,North York,43.756303,-79.565963
97,M9M,North York,"North York, North York",43.724766,-79.532242
98,M9N,York,York,43.706876,-79.518188
99,M9P,Etobicoke,Etobicoke,43.696319,-79.532242
100,M9R,Etobicoke,"Etobicoke, Etobicoke, Etobicoke, Etobicoke",43.688905,-79.554724
101,M9V,Etobicoke,"Etobicoke, Etobicoke, Etobicoke, Etobicoke, Et...",43.739416,-79.588437
102,M9W,Etobicoke,Etobicoke,43.706748,-79.594054